@import "tailwindcss";

/* .Textpipe{
    animation: myanimation 1ms infinite;
}

@keyframes myanimation {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
} */


 body{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
      
    }
        .navlink:hover{
            border-bottom:5px double rgb(253, 35, 11);
        }
     #p-img{
        background-color: #ff004f;
     }
  
     .skill-section>div>div{
        transition: background 0.5s transform 0.5s;
        white-space: no-wrap;
        
       
     }
    #skill-section>div>div:hover{
        background-color:black;
        transform: translateY(-10px);
      
     }
     #dwn{
        transition: background 0.5s transform 0.5s;
     }
     
     #dwn>button:hover{
        background-color:#ff004f;
        transform: translateY(-5px);
     }
   .cards{
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
   }

.h-img>img{
    animation: floatImage 4s ease-in-out infinite ;
    box-shadow: 0px 0px 20px yellow;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.projects{
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 20px black;
   margin-top: 80px ;

}
.projects>img{
    transition: .5s ease;
    opacity: 0.7;
}
.projects>img:hover{
    transform: scale(1.1);
}
.project-content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(52,61,104);
    opacity: 90%;
    transform: translateY(100%);
    transition: .5s ease;
}
.projects:hover .project-content{
    transform: translateY(0);
}
.p-no1{
    position: fixed;
    top:10px;
    left:10px;
}
.p-no2{
    position: fixed;
    top:10px;
    right:10px;
}
/* css for mobile */
@media  screen and (max-width:600px){
    .nav-items{
        font-size: 15px;
    }
  .nav-img{
    height: 25px;
    width: 25px;
  }
  .nav-t{
    font-size:20px;
    margin-right: 25px;
    
  }
  .nav-logo{
    padding-top: 10px;
   margin: auto;
   align-items: center;
  }
  nav{
    height: 40px;
    flex-direction: column;
    gap:10px;
  }
  #hero-section{
    flex-direction: column-reverse;
    gap: 70px;
  }
  .hero-img-div{
    margin-top: 70px;
    height: 300px;
    width: 300px;
  }
  #hero-img{
    height: 300px !important;
    width: 300px !important;
    margin: auto !important;
  }
.h-text1{
    font-size: 40px;
}
.h-text2{
    font-size: 30px;
}
.h-text>p{
    text-align: center;
    font-size: 15px;
}
.h-text{

    flex-direction: column;
    align-items: center;
}
.projects{
    height: 40vh;
    width: 80vw;
    margin: auto;
    margin-top: 50px;
}
.p-text1{
    font-size: 30px;
}
.p-text2{
    font-size: 10px;
    text-align: center;
}
.p-no1{
    position: fixed;
    top:0px;
    left:0px;
    font-size: 50px;
}
.p-no2{
    position: fixed;
    top:0px;
    right:0px;
    font-size: 50px;
}
.p-icon{
    display: none;
}
#skill-section{
    height: 420vh;
}
.t-skill{
    gap: 30px;
}
.t-skill>div{
    flex-direction: column;
    text-align: center;
}
#about-section{
    flex-direction: column;
    justify-content: space-evenly;
    height: 120vh;
    align-items: center;
    gap: 150px;
}
.a-img{
    height: 100px;
    width: 200px;
    margin: auto;
    margin-top: 100px;
    /* z-index: 1; */
}
.a-content{
    height: 50vh;
   
   
}
.f-btn1{
    width: 150px;
    height: 50px;
    font-size: 15px;
    margin: auto;
    margin-top: 7px;
}
.f-btn{
    flex-direction: column;
    align-items: center;
}
footer{
    flex-direction: column;
    align-items: center;
}


}